[submodule "Editor/vendor/imgui/imgui"]
	path = Editor/vendor/imgui/imgui
	url = https://github.com/spironan/imgui-docking
[submodule "Editor/vendor/launcher/Oroborous-Launcher"]
	path = Editor/vendor/launcher/Oroborous-Launcher
	url = https://github.com/JunXiang-Leong/Oroborous-Launcher
[submodule "Editor/vendor/sharedlib/Isolated-Testing-Ground"]
	path = Editor/vendor/sharedlib/Isolated-Testing-Ground
	url = https://github.com/spironan/Isolated-Testing-Ground.git
